<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs' ) %>
</head>

<body>
    <%- include ('../partials/header.ejs') %>
        <figure>
            <img src=<%=article.url%> alt="">
            <figcaption>
                <h1>
                    <%= article.title %>
                </h1>
                <p>
                    <%= article.body %>
                </p><br>
                <h3>
                    <%= article.published_at %>
                </h3><br>
                <h3>
                    <%= article.duration %>
                </h3><br>
                <h3>
                    <%= article.author %>
                </h3><br>
                <img src=<%=article.author_bild%> alt="">
            </figcaption>
        </figure>

</body>

</html>