<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs' ) %>
</head>

<body>
    <%- include ('../partials/header.ejs') %>
        <section>
            <h1>One article</h1>

            <h1>
                <%=data.title%>
            </h1>
            <img src=<%=data.url%> alt="">
            <p>
                <%=data.body%>
            </p>

        </section>
</body>

</html>