<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs' ) %>
</head>

<body>
    <%- include ('../partials/header.ejs') %>
        <section class="articles">
            <h1>All articles</h1>
            <% data.forEach((element)=> { %>
                <figure>
                    <img src=<%=element.url%> alt="">
                    <figcaption>
                        <p>
                            <a href=<%=`/blog/${element.id}` %>>
                                <%=element.title%>
                            </a>

                        </p>
                    </figcaption>
                </figure>
                <% }) %>
        </section>
</body>

</html>